<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDisplayName</key>
	<string>ShineArabia</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>com.shinearabia.app</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0.0</string>
	<key>CFBundleVersion</key>
	<string>1</string>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<true/>
		<key>NSExceptionDomains</key>
		<dict>
			<key>localhost</key>
			<dict>
				<key>NSExceptionAllowsInsecureHTTPLoads</key>
				<true/>
			</dict>
		</dict>
	</dict>
	<key>NSCameraUsageDescription</key>
	<string>Used to upload photos of your space for service providers.</string>
	<key>NSLocationAlwaysAndWhenInUseUsageDescription</key>
	<string>ShineArabia uses your location to track service providers en route to you.</string>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>ShineArabia uses your location to find nearby service providers and deliver to your address.</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>Used to attach photos when booking a service.</string>
	<key>UIAppFonts</key>
	<array>
		<string>CormorantGaramond-Regular.ttf</string>
		<string>CormorantGaramond-Italic.ttf</string>
		<string>CormorantGaramond-SemiBold.ttf</string>
		<string>CormorantGaramond-Bold.ttf</string>
		<string>CormorantGaramond-BoldItalic.ttf</string>
		<string>Outfit-Light.ttf</string>
		<string>Outfit-Regular.ttf</string>
		<string>Outfit-Medium.ttf</string>
		<string>Outfit-SemiBold.ttf</string>
		<string>Outfit-Bold.ttf</string>
		<string>NotoKufiArabic-Regular.ttf</string>
		<string>NotoKufiArabic-SemiBold.ttf</string>
		<string>NotoKufiArabic-Bold.ttf</string>
	</array>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>UIMainStoryboardFile</key>
	<string></string>
	<key>UIRequiresFullScreen</key>
	<true/>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
	</array>
</dict>
</plist>
